esimerkitLuennoilta/schema.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="comment">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="author" type="xs:string"/>
				<xs:element name="content" type="xs:string" maxOccurs="1" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>